.box {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  width: 380px;
  height: 570px;
  background: #ffffff;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.5);
  margin-top: 45px;
}

.box:hover {
  background: rgba(46, 0, 155, 0.1);
}

.selectedCard:hover {
  background: #ffffff;
}

.selectedCard {
  border: 5px solid rgba(46, 0, 155, 1);
}

.box .image {
  width: 380px;
  height: 380px;
}

.box .text {
  font-family: 'Roboto';
  margin-left: 10.53%;
  margin-right: 10.53%;
}

.box .text .header {
  margin: 36px 0px 0px 0px;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #b2b2b2;
}

.box .text .description {
  margin-top: 0px;
  font-size: 20px;
  line-height: 23px;
  text-transform: capitalize;
}
